In [179]:
import pandas as pd
import numpy as np

# Analyze the dataset

In [182]:
dataframe= pd.read_csv("titles.csv")

In [184]:
dataframe.head()

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,51,['documentation'],['US'],1.0,NaN,NaN,NaN,0.601,NaN
1,tm82169,Rocky,MOVIE,"When world heavyweight boxing champion, Apollo...",1976,PG,119,"['drama', 'sport']",['US'],NaN,tt0075148,8.1,588100.0,106.361,7.782
2,tm17823,Grease,MOVIE,Australian good girl Sandy and greaser Danny f...,1978,PG,110,"['romance', 'comedy']",['US'],NaN,tt0077631,7.2,283316.0,33.160,7.406
3,tm191099,The Sting,MOVIE,A novice con man teams up with an acknowledged...,1973,PG,129,"['crime', 'drama', 'comedy', 'music']",['US'],NaN,tt0070735,8.3,266738.0,24.616,8.020
4,tm69975,Rocky II,MOVIE,After Rocky goes the distance with champ Apoll...,1979,PG,119,"['drama', 'sport']",['US'],NaN,tt0079817,7.3,216307.0,75.699,7.246

In [186]:
dataframe.shape

(6137, 15)

In [188]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6137 entries, 0 to 6136
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    6137 non-null   object
 1   title                 6137 non-null   object
 2   type                  6137 non-null   object
 3   description           6114 non-null   object
 4   release_year          6137 non-null   int64
 5   age_certification     3394 non-null   object
 6   runtime               6137 non-null   int64
 7   genres                6137 non-null   object
 8   production_countries  6137 non-null   object
 9   seasons               2306 non-null   float64
 10  imdb_id               5741 non-null   object
 11  imdb_score            5669 non-null   float64
 12  imdb_votes            5653 non-null   float64
 13  tmdb_popularity       6061 non-null   float64
 14  tmdb_score            5885 non-null   float64
dtypes: float64(5), int64(2), object(8)
memory usage: 719.3+ KB

In [190]:
dataframe.columns

Index(['id', 'title', 'type', 'description', 'release_year',
       'age_certification', 'runtime', 'genres', 'production_countries',
       'seasons', 'imdb_id', 'imdb_score', 'imdb_votes', 'tmdb_popularity',
       'tmdb_score'],
      dtype='object')

In [192]:
dataframe.isna().sum()

id                         0
title                      0
type                       0
description               23
release_year               0
age_certification       2743
runtime                    0
genres                     0
production_countries       0
seasons                 3831
imdb_id                  396
imdb_score               468
imdb_votes               484
tmdb_popularity           76
tmdb_score               252
dtype: int64

# Clean the dataset

In [195]:
clean_dataframe = dataframe

In [197]:
clean_dataframe.drop_duplicates()

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,51,['documentation'],['US'],1.0,NaN,NaN,NaN,0.601,NaN
1,tm82169,Rocky,MOVIE,"When world heavyweight boxing champion, Apollo...",1976,PG,119,"['drama', 'sport']",['US'],NaN,tt0075148,8.1,588100.0,106.361,7.782
2,tm17823,Grease,MOVIE,Australian good girl Sandy and greaser Danny f...,1978,PG,110,"['romance', 'comedy']",['US'],NaN,tt0077631,7.2,283316.0,33.160,7.406
3,tm191099,The Sting,MOVIE,A novice con man teams up with an acknowledged...,1973,PG,129,"['crime', 'drama', 'comedy', 'music']",['US'],NaN,tt0070735,8.3,266738.0,24.616,8.020
4,tm69975,Rocky II,MOVIE,After Rocky goes the distance with champ Apoll...,1979,PG,119,"['drama', 'sport']",['US'],NaN,tt0079817,7.3,216307.0,75.699,7.246
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6132,tm1303784,عبود في البيت,MOVIE,Two young boys must work together to stop robb...,2023,NaN,81,"['family', 'comedy']",['KW'],NaN,NaN,NaN,NaN,3.351,2.000
6133,tm1260999,Sweetie,MOVIE,"‘Theatre is my life,’ Yıldız Kenter admits in ...",2023,NaN,120,['documentation'],['TR'],NaN,tt26349328,7.9,209.0,2.450,7.200
6134,tm1310286,Sommore: Queen Chandelier,MOVIE,This Queen of Comedy shines as she takes the s...,2023,NaN,69,['comedy'],['US'],NaN,tt21033382,6.1,91.0,1.960,NaN
6135,tm1072700,All Na Vibes,MOVIE,The lives of three teenagers and a hit-man int...,2023,NaN,80,['drama'],['NG'],NaN,tt14922926,5.2,18.0,1.357,4.000
6136,tm561709,Going to Heaven,MOVIE,"A story about young boy sultan, 11 years old l...",2023,NaN,90,['family'],['AE'],NaN,tt4623222,7.0,40.0,NaN,NaN

In [199]:
clean_dataframe.isna().sum()

id                         0
title                      0
type                       0
description               23
release_year               0
age_certification       2743
runtime                    0
genres                     0
production_countries       0
seasons                 3831
imdb_id                  396
imdb_score               468
imdb_votes               484
tmdb_popularity           76
tmdb_score               252
dtype: int64

In [201]:
# For 'description' we'll change it to 'No description available' to avoid future mistakes
clean_dataframe['description'] = dataframe['description'].fillna('No description available')

In [203]:
clean_dataframe.isna().sum()

id                         0
title                      0
type                       0
description                0
release_year               0
age_certification       2743
runtime                    0
genres                     0
production_countries       0
seasons                 3831
imdb_id                  396
imdb_score               468
imdb_votes               484
tmdb_popularity           76
tmdb_score               252
dtype: int64

In [205]:
#For numeric columns, the median will be used so that it doesn't change the important measures 
num_cols = ['imdb_score', 'imdb_votes', 'tmdb_popularity', 'tmdb_score']
for col in num_cols:
    clean_dataframe[col] = clean_dataframe[col].fillna(clean_dataframe[col].median())

In [207]:
clean_dataframe.isna().sum()

id                         0
title                      0
type                       0
description                0
release_year               0
age_certification       2743
runtime                    0
genres                     0
production_countries       0
seasons                 3831
imdb_id                  396
imdb_score                 0
imdb_votes                 0
tmdb_popularity            0
tmdb_score                 0
dtype: int64

In [209]:
# 'Seasons' will be cleaned by assuming a 0 for movies or no more seasons
clean_dataframe['seasons'] = clean_dataframe['seasons'].fillna(0).astype(int)

In [211]:
clean_dataframe.isna().sum()

id                         0
title                      0
type                       0
description                0
release_year               0
age_certification       2743
runtime                    0
genres                     0
production_countries       0
seasons                    0
imdb_id                  396
imdb_score                 0
imdb_votes                 0
tmdb_popularity            0
tmdb_score                 0
dtype: int64

In [213]:
# For cleaning 'age_certification' the blank rows will be filled with 'Unknown'
clean_dataframe['age_certification'] = clean_dataframe['age_certification'].fillna('Unknown')

In [215]:
clean_dataframe.isna().sum()

id                        0
title                     0
type                      0
description               0
release_year              0
age_certification         0
runtime                   0
genres                    0
production_countries      0
seasons                   0
imdb_id                 396
imdb_score                0
imdb_votes                0
tmdb_popularity           0
tmdb_score                0
dtype: int64

In [252]:
# It is important to convert the lists saved as strings as real lists to facilitate further analysis
columns = ['genres', 'production_countries']
for col in columns:
    clean_dataframe[col] = dataframe[col].apply(lambda x: eval(x) if isinstance(x, str) else x)

# Normalize Data

In [255]:

# In order to normalize the data, we'll limite the release year to reasonable years (from 1900-2024)
clean_dataframe = clean_dataframe[(clean_dataframe['release_year'] >= 1900) & (clean_dataframe['release_year'] <= 2024)]

In [257]:
clean_dataframe

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,51,[documentation],[US],1,NaN,6.6,2095.0,0.601,6.791
1,tm82169,Rocky,MOVIE,"When world heavyweight boxing champion, Apollo...",1976,PG,119,"[drama, sport]",[US],0,tt0075148,8.1,588100.0,106.361,7.782
2,tm17823,Grease,MOVIE,Australian good girl Sandy and greaser Danny f...,1978,PG,110,"[romance, comedy]",[US],0,tt0077631,7.2,283316.0,33.160,7.406
3,tm191099,The Sting,MOVIE,A novice con man teams up with an acknowledged...,1973,PG,129,"[crime, drama, comedy, music]",[US],0,tt0070735,8.3,266738.0,24.616,8.020
4,tm69975,Rocky II,MOVIE,After Rocky goes the distance with champ Apoll...,1979,PG,119,"[drama, sport]",[US],0,tt0079817,7.3,216307.0,75.699,7.246
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6132,tm1303784,عبود في البيت,MOVIE,Two young boys must work together to stop robb...,2023,Unknown,81,"[family, comedy]",[KW],0,NaN,6.6,2095.0,3.351,2.000
6133,tm1260999,Sweetie,MOVIE,"‘Theatre is my life,’ Yıldız Kenter admits in ...",2023,Unknown,120,[documentation],[TR],0,tt26349328,7.9,209.0,2.450,7.200
6134,tm1310286,Sommore: Queen Chandelier,MOVIE,This Queen of Comedy shines as she takes the s...,2023,Unknown,69,[comedy],[US],0,tt21033382,6.1,91.0,1.960,6.791
6135,tm1072700,All Na Vibes,MOVIE,The lives of three teenagers and a hit-man int...,2023,Unknown,80,[drama],[NG],0,tt14922926,5.2,18.0,1.357,4.000
6136,tm561709,Going to Heaven,MOVIE,"A story about young boy sultan, 11 years old l...",2023,Unknown,90,[family],[AE],0,tt4623222,7.0,40.0,7.580,6.791

In [259]:
# We're also limiting the values that are out of the range in 'runtime'
clean_dataframe['runtime'] = dataframe['runtime'].apply(lambda x: x if x > 0 and x < 500 else None)
clean_dataframe['runtime'] = dataframe['runtime'].fillna(dataframe['runtime'].median())

In [261]:
clean_dataframe

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,51,[documentation],[US],1,NaN,6.6,2095.0,0.601,6.791
1,tm82169,Rocky,MOVIE,"When world heavyweight boxing champion, Apollo...",1976,PG,119,"[drama, sport]",[US],0,tt0075148,8.1,588100.0,106.361,7.782
2,tm17823,Grease,MOVIE,Australian good girl Sandy and greaser Danny f...,1978,PG,110,"[romance, comedy]",[US],0,tt0077631,7.2,283316.0,33.160,7.406
3,tm191099,The Sting,MOVIE,A novice con man teams up with an acknowledged...,1973,PG,129,"[crime, drama, comedy, music]",[US],0,tt0070735,8.3,266738.0,24.616,8.020
4,tm69975,Rocky II,MOVIE,After Rocky goes the distance with champ Apoll...,1979,PG,119,"[drama, sport]",[US],0,tt0079817,7.3,216307.0,75.699,7.246
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6132,tm1303784,عبود في البيت,MOVIE,Two young boys must work together to stop robb...,2023,Unknown,81,"[family, comedy]",[KW],0,NaN,6.6,2095.0,3.351,2.000
6133,tm1260999,Sweetie,MOVIE,"‘Theatre is my life,’ Yıldız Kenter admits in ...",2023,Unknown,120,[documentation],[TR],0,tt26349328,7.9,209.0,2.450,7.200
6134,tm1310286,Sommore: Queen Chandelier,MOVIE,This Queen of Comedy shines as she takes the s...,2023,Unknown,69,[comedy],[US],0,tt21033382,6.1,91.0,1.960,6.791
6135,tm1072700,All Na Vibes,MOVIE,The lives of three teenagers and a hit-man int...,2023,Unknown,80,[drama],[NG],0,tt14922926,5.2,18.0,1.357,4.000
6136,tm561709,Going to Heaven,MOVIE,"A story about young boy sultan, 11 years old l...",2023,Unknown,90,[family],[AE],0,tt4623222,7.0,40.0,7.580,6.791

In [263]:
#And just to be sure, we're limiting the values out of range in scores
clean_dataframe['imdb_score'] = dataframe['imdb_score'].apply(lambda x: x if 0 <= x <= 10 else None)
clean_dataframe['tmdb_score'] = dataframe['tmdb_score'].apply(lambda x: x if 0 <= x <= 10 else None)

In [265]:
clean_dataframe

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,51,[documentation],[US],1,NaN,6.6,2095.0,0.601,6.791
1,tm82169,Rocky,MOVIE,"When world heavyweight boxing champion, Apollo...",1976,PG,119,"[drama, sport]",[US],0,tt0075148,8.1,588100.0,106.361,7.782
2,tm17823,Grease,MOVIE,Australian good girl Sandy and greaser Danny f...,1978,PG,110,"[romance, comedy]",[US],0,tt0077631,7.2,283316.0,33.160,7.406
3,tm191099,The Sting,MOVIE,A novice con man teams up with an acknowledged...,1973,PG,129,"[crime, drama, comedy, music]",[US],0,tt0070735,8.3,266738.0,24.616,8.020
4,tm69975,Rocky II,MOVIE,After Rocky goes the distance with champ Apoll...,1979,PG,119,"[drama, sport]",[US],0,tt0079817,7.3,216307.0,75.699,7.246
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6132,tm1303784,عبود في البيت,MOVIE,Two young boys must work together to stop robb...,2023,Unknown,81,"[family, comedy]",[KW],0,NaN,6.6,2095.0,3.351,2.000
6133,tm1260999,Sweetie,MOVIE,"‘Theatre is my life,’ Yıldız Kenter admits in ...",2023,Unknown,120,[documentation],[TR],0,tt26349328,7.9,209.0,2.450,7.200
6134,tm1310286,Sommore: Queen Chandelier,MOVIE,This Queen of Comedy shines as she takes the s...,2023,Unknown,69,[comedy],[US],0,tt21033382,6.1,91.0,1.960,6.791
6135,tm1072700,All Na Vibes,MOVIE,The lives of three teenagers and a hit-man int...,2023,Unknown,80,[drama],[NG],0,tt14922926,5.2,18.0,1.357,4.000
6136,tm561709,Going to Heaven,MOVIE,"A story about young boy sultan, 11 years old l...",2023,Unknown,90,[family],[AE],0,tt4623222,7.0,40.0,7.580,6.791

In [267]:
 # It is important to also standarize the strip & lowercase formats
clean_dataframe['title'] = dataframe['title'].str.strip()
clean_dataframe['type'] = dataframe['type'].str.strip().str.upper()
clean_dataframe['age_certification'] = dataframe['age_certification'].str.strip()

In [269]:
clean_dataframe

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,51,[documentation],[US],1,NaN,6.6,2095.0,0.601,6.791
1,tm82169,Rocky,MOVIE,"When world heavyweight boxing champion, Apollo...",1976,PG,119,"[drama, sport]",[US],0,tt0075148,8.1,588100.0,106.361,7.782
2,tm17823,Grease,MOVIE,Australian good girl Sandy and greaser Danny f...,1978,PG,110,"[romance, comedy]",[US],0,tt0077631,7.2,283316.0,33.160,7.406
3,tm191099,The Sting,MOVIE,A novice con man teams up with an acknowledged...,1973,PG,129,"[crime, drama, comedy, music]",[US],0,tt0070735,8.3,266738.0,24.616,8.020
4,tm69975,Rocky II,MOVIE,After Rocky goes the distance with champ Apoll...,1979,PG,119,"[drama, sport]",[US],0,tt0079817,7.3,216307.0,75.699,7.246
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6132,tm1303784,عبود في البيت,MOVIE,Two young boys must work together to stop robb...,2023,Unknown,81,"[family, comedy]",[KW],0,NaN,6.6,2095.0,3.351,2.000
6133,tm1260999,Sweetie,MOVIE,"‘Theatre is my life,’ Yıldız Kenter admits in ...",2023,Unknown,120,[documentation],[TR],0,tt26349328,7.9,209.0,2.450,7.200
6134,tm1310286,Sommore: Queen Chandelier,MOVIE,This Queen of Comedy shines as she takes the s...,2023,Unknown,69,[comedy],[US],0,tt21033382,6.1,91.0,1.960,6.791
6135,tm1072700,All Na Vibes,MOVIE,The lives of three teenagers and a hit-man int...,2023,Unknown,80,[drama],[NG],0,tt14922926,5.2,18.0,1.357,4.000
6136,tm561709,Going to Heaven,MOVIE,"A story about young boy sultan, 11 years old l...",2023,Unknown,90,[family],[AE],0,tt4623222,7.0,40.0,7.580,6.791

 # Add columns that could be useful

In [276]:
#In this case a new column will be created to calculate the age of the movie based on the released year and the actual year. 
#This could be useful for a next analysis
from datetime import datetime
current_year = datetime.now().year
clean_dataframe['title_age'] = current_year - dataframe['release_year']

In [278]:
clean_dataframe

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,title_age
0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,51,[documentation],[US],1,NaN,6.6,2095.0,0.601,6.791,79
1,tm82169,Rocky,MOVIE,"When world heavyweight boxing champion, Apollo...",1976,PG,119,"[drama, sport]",[US],0,tt0075148,8.1,588100.0,106.361,7.782,48
2,tm17823,Grease,MOVIE,Australian good girl Sandy and greaser Danny f...,1978,PG,110,"[romance, comedy]",[US],0,tt0077631,7.2,283316.0,33.160,7.406,46
3,tm191099,The Sting,MOVIE,A novice con man teams up with an acknowledged...,1973,PG,129,"[crime, drama, comedy, music]",[US],0,tt0070735,8.3,266738.0,24.616,8.020,51
4,tm69975,Rocky II,MOVIE,After Rocky goes the distance with champ Apoll...,1979,PG,119,"[drama, sport]",[US],0,tt0079817,7.3,216307.0,75.699,7.246,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6132,tm1303784,عبود في البيت,MOVIE,Two young boys must work together to stop robb...,2023,Unknown,81,"[family, comedy]",[KW],0,NaN,6.6,2095.0,3.351,2.000,1
6133,tm1260999,Sweetie,MOVIE,"‘Theatre is my life,’ Yıldız Kenter admits in ...",2023,Unknown,120,[documentation],[TR],0,tt26349328,7.9,209.0,2.450,7.200,1
6134,tm1310286,Sommore: Queen Chandelier,MOVIE,This Queen of Comedy shines as she takes the s...,2023,Unknown,69,[comedy],[US],0,tt21033382,6.1,91.0,1.960,6.791,1
6135,tm1072700,All Na Vibes,MOVIE,The lives of three teenagers and a hit-man int...,2023,Unknown,80,[drama],[NG],0,tt14922926,5.2,18.0,1.357,4.000,1
6136,tm561709,Going to Heaven,MOVIE,"A story about young boy sultan, 11 years old l...",2023,Unknown,90,[family],[AE],0,tt4623222,7.0,40.0,7.580,6.791,1